
<div class="container">
  <h3>
    Today & Later
  </h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Booked by</th>
      <th scope="col">Slot</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <!-- email
total_amount
amount_received
balance
comments -->
  <tbody>
    <tr *ngFor="let booking of bookings">
      <th scope="row">
        {{ booking.date.toDate() | date:'dd-MM-yyyy' }}<br>
        {{ booking.date.toDate() | date:'EEEE' }}
      </th>
      <td>{{booking.name}}<br>{{booking.number}}<br>{{booking.booking_type}}</td>
      <td>{{booking.start_time}}<br>{{booking.end_time}}<br>{{getDurhour(booking.start_time,booking.end_time)}} hr</td>
      <td>
        <button type="button" class="btn btn-primary mx-1" (click)="updateBooking(booking.id)">Update</button>
      </td>
    </tr>
  </tbody>
</table>