<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Booked by</th>
        <th scope="col">Slot</th>
        <th scope="col">Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            20-04-24<br>
            Saturday
        </th>
        <td>Ahmed Usman<br>8553083127<br>Website</td>
        <td>5:30pm<br>6:30pm<br>1hr</td>
        <td>
            <!-- <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button> -->
            <button type="button" class="btn btn-primary mx-1" (click)="updateBooking()">Update</button>
          </td>
      </tr>
    </tbody>
  </table>

<button class="btn btn-dark" (click)="showPage('add-booking')">Add Booking</button>
