<ng-container *ngIf="isLoggedin === null; else home">
  <div>Loading please wait. . .</div>
</ng-container>

<ng-template #home>
  <ng-container *ngIf="isLoggedin; else login">
    <app-navbar></app-navbar>
    <div *ngIf="sharedService.currentPage === 'home'">
      <app-bookings></app-bookings>
    </div>
    <div *ngIf="sharedService.currentPage === 'all-booking'">
      <app-allbookings></app-allbookings>
    </div>
    <div *ngIf="sharedService.currentPage === 'add-booking'">
      <app-bookingform></app-bookingform>
    </div>
  </ng-container>
</ng-template>

<ng-template #login>
  <app-login></app-login>
</ng-template>
